work/
error.log
build/
parts/
source-local/
source/IBM-Plex-Sans-JP/
source/IBM-Plex-Sans-TC/
source/IBM-Plex-Sans-SC/
source/IBM-Plex-Mono/
source/IBM-Plex-Sans-KR/
source/BlexMonoNerdFont-Regular.ttf
source/LICENSE_NerdFonts*
